
@{
    ViewData["Title"] = "IOFA | EMERGING TALENT";
    Layout = "~/Views/Shared/Institute.cshtml";
}

<!-- emerging telent -->

<main>
    <div class="emerging-section active">
        <div class="emerging-text-content">
            <div class="vertical-line"></div>
            <div class="title-with-line">
                <a href="Institute/EmergingTalent">
                    <h2 class="emerging-title">Emerging Talent</h2>
                </a>
            </div>
            <p class="emerging-date">
                Developed in 2003, IOFA Emerging Talent was the ﬁrst exhibition showcasing the
                creativity of fresh graduates from various institutions across the country under one roof.
            </p>
        </div>

        <div class="emerging-image-container">
            <div class="emerging-slider">
                <img src="~/images/e1.png" alt="Image 1" class="emerging-image active">
                <img src="~/images/e2.png" alt="Image 2" class="emerging-image">
                <img src="~/images/e3.png" alt="Image 3" class="emerging-image">
                <img src="~/images/e4.png" alt="Image 4" class="emerging-image">
                <img src="~/images/e5.png" alt="Image 5" class="emerging-image">
                <img src="~/images/e6.png" alt="Image 6" class="emerging-image">
            </div>

            <div class="emerging-slider-controls">
                <button class="emerging-slider-arrow prev-arrow">&#10094;</button>
                <button class="emerging-slider-arrow next-arrow">&#10095;</button>
            </div>
        </div>
    </div>
</main>


<!-- emerging telent ends -->
<!-- text -->

<div class="columncontainer">
    <div class="column">
        <div class="text-block">
            <p>
                One of IOFA Gallery's major activities features emerging talent, operating as a springboard for
                young artists to launch their careers. Developed in 2003, IOFA Emerging Talent was the first
                exhibition showcasing the creativity of fresh graduates from various institutions across the country
                under one roof.
            </p>
        </div>
        <div class="text-block">
            <p>
                The exhibition serves multiple purposes; it highlights different bodies of artwork, creates
                conversation between the different forms of pedagogy practiced in each institution, and also
                catapults emerging artists into the professional world of gallery exhibitions. Additionally, the
                exhibition provides an opportunity for gallerists, collectors, and other artists to witness the
                evolution of contemporary art making practices in Pakistan.
            </p>
        </div>
        <div class="text-block">
            <p>
                IOFA Emerging Talent is a highlight of the gallery's calendar year, embodying our intention of
                supporting education while introducing the most exciting new waves of artmaking to visitors.
            </p>
        </div>
    </div>
    <div class="column">
        <div class="text-block">
            <p>
                IOFA Emerging Talent is a highlight of the gallery's calendar year, embodying our intention of
                supporting education while introducing the most exciting new waves of artmaking to visitors.
            </p>
        </div>
        <div class="text-block">
            <p>
                IOFA Emerging Talent is a collaboration with the Fine Arts Departments and Faculty from art
                institutions nationally. As a result, a large and diverse body of work across all kinds of media
                (painting, sculpture, ceramics, digital and installation art) is showcased to a local audience, who
                would otherwise have to travel to different cities to see the thesis show of each Institution.
            </p>
        </div>
        <div class="text-block">
            <p>
                One of IOFA Gallery's major activities features emerging talent, operating as a springboard for
                young artists to launch their careers. Developed in 2003, IOFA Emerging Talent was the first
                exhibition showcasing the creativity of fresh graduates from various institutions across the country
                under one roof.
            </p>
        </div>
    </div>
</div>

<!-- text ends -->
<!-- gallery-sections-container -->

<div class="emerging-gallery-sections-container">
    <a href="/Institute/Space#apply" class="emerging-gallery-section-card">
        <img src="~/images/eg1.jpg" alt="A golden statue of a human figure" class="emerging-section-image"
             id="emerging-section-image-1">
        <div class="emerging-section-overlay" id="emerging-section-overlay-1">
            <h3 class="emerging-section-title" id="emerging-section-title-1">Apply Now!</h3>
            <p class="emerging-section-description" id="emerging-section-description-1">Application open</p>
        </div>
    </a>

    <a href="/Institute/Exhibition" class="emerging-gallery-section-card">
        <img src="~/images/eg2.jpg" alt="An art piece on an easel in a gallery" class="emerging-section-image"
             id="emerging-section-image-2">
        <div class="emerging-section-overlay-top" id="emerging-section-overlay-2">
            <h3 class="emerging-section-title" id="emerging-section-title-2">View<br> Exhibition</h3>
            <p class="emerging-section-description" id="emerging-section-description-2">
                17th Emerging Telent
                Exhibition (ET17)
            </p>
        </div>
    </a>

    <a href="/Institute/Contact" class="emerging-gallery-section-card">
        <img src="~/images/eg3.jpg" alt="A well-lit research library with tall bookshelves"
             class="emerging-section-image" id="emerging-section-image-3">
        <div class="emerging-section-overlay" id="emerging-section-overlay-3">
            <h3 class="emerging-section-title" id="emerging-section-title-3">Enquire</h3>
            <p class="emerging-section-description" id="emerging-section-description-3">
                or email at
                emergingtelentexhib@gmail.com
            </p>
        </div>
    </a>
</div>

<!-- gallery-sections-container -->

