
@{
    ViewData["Title"] = "IOFA | HOME";
    Layout = "~/Views/Shared/Institute.cshtml";
}

<!-- exhibition-section -->

<main>
    <div class="exhibition-section">
        <div class="exhibition-text-content">
            <div class="vertical-line"></div>
            <div class="title-with-line">
                <a href="Institute/Exhibition">
                    <h2 class="exhibition-title">IOFA GRADUATION EXHIBITION 2025</h2>
                </a>
            </div>
            <p class="exhibition-date">19TH JUNE 2025 - 04TH JULY 2025</p>
        </div>
        <div class="exhibition-image-container">
            <img src="~/images/slide.png" alt="Abstract painting of a landscape with water and colorful foreground"
                 class="exhibition-image">
        </div>
    </div>

    <!-- exhibition-section ends -->
    <!-- gallery-sections-container -->

    <div class="gallery-sections-container">
        <a href="Institute/about" class="gallery-section-card">
            <img src="~/images/galley1.png" alt="A golden statue of a human figure" class="section-image">
            <div class="section-overlay">
                <h3 class="section-title">THE COLLECTION</h3>
                <p class="section-description">
                    IOFA Gallery is one of the only institutions in the city with a rich
                    and growing collection of works by Old Masters and Modernists from Pakistan
                </p>
            </div>
        </a>

        <a href="Institute/Space#apply" class="gallery-section-card">
            <img src="~/images/galley2.png" alt="An art piece on an easel in a gallery" class="section-image">
            <div class="section-overlay">
                <h3 class="section-title">APPLY TO EXHIBIT</h3>
                <p class="section-description">Apply to exhibit your work at IOFA Gallery</p>
            </div>
        </a>

        <a href="Institute/Space#researchlibrary" class="gallery-section-card">
            <img src="~/images/galley3.png" alt="A well-lit research library with tall bookshelves"
                 class="section-image">
            <div class="section-overlay">
                <h3 class="section-title">RESEARCH LIBRARY</h3>
                <p class="section-description">
                    IOFA Gallery's Resource Center is a research space which houses
                    publications on Pakistani and International visual arts and culture.
                </p>
            </div>
        </a>
    </div>

    <!-- gallery-sections-container -->
    </main>
